 <div class="blog">
		<div class="container">
		<div class="row">
        <div class="col-md-12 section-header">
            <h3 align="center">TEAMS</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/ARS/arsenal" href="#/team/ARS/arsenal">
                <img ng-src="images/logos/ARS.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/ARS.png">
                <h4 class="text">ARSENAL</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/CHE/chelsea" href="#/team/CHE/chelsea">
                <img ng-src="images/logos/CHE.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/CHE.png">
                <h4 class="text">CHELSEA</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/AVL/astonvilla" href="#//team/AVL/astonvilla">
                <img ng-src="images/logos/AVL.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/AVL.png">
                <h4 class="text">ASTON VILLA</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/BOU/bournemouth" href="#/team/BOU/bournemouth">
                <img ng-src="images/logos/BOU.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/BOU.png">
                <h4 class="text">AFC BOURNEMOUTH</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/CRY/crystalpalace" href="#/team/CRY/crystalpalace">
                <img ng-src="images/logos/CRY.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/CRY.png">
                <h4 class="text">CRYSTAL PALACE</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/EVE/everton" href="#/team/EVE/everton">
                <img ng-src="images/logos/EVE.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/EVE.png">
                <h4 class="text">EVERTON</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/LEI/leicester" href="#/team/LEI/leicester">
                <img ng-src="images/logos/LEI.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/LEI.png">
                <h4 class="text">LEICESTER CITY</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/LIV/liverpool" href="#/team/LIV/liverpool">
                <img ng-src="images/logos/LIV.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/LIV.png">
                <h4 class="text">LIVERPOOL</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/MCI/mancity" href="#/team/MCI/mancity">
                <img ng-src="images/logos/MCI.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/MCI.png">
                <h4 class="text">MANCHESTER CITY</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/MUN/manutd" href="#/team/MUN/manutd">
                <img ng-src="images/logos/MUN.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/MUN.png">
                <h4 class="text">MANCHESTER UNITED</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/NEW/newcastle" href="#/team/NEW/newcastle">
                <img ng-src="images/logos/NEW.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/NEW.png">
                <h4 class="text">NEW CASTLE</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/NOR/norwich" href="#/team/NOR/norwich">
                <img ng-src="images/logos/NOR.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/NOR.png">
                <h4 class="text">NORWICH</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/SOU/southampton" href="#/team/SOU/southampton">
                <img ng-src="images/logos/SOU.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/SOU.png">
                <h4 class="text">SOUTHAMPTON</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/STK/stoke" href="#/team/STK/stoke">
                <img ng-src="images/logos/STK.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/STK.png">
                <h4 class="text">STOKE CITY</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/SUN/sunderland" href="#/team/SUN/sunderland">
                <img ng-src="images/logos/SUN.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/SUN.png">
                <h4 class="text">SUNDERLAND</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/SWA/swansea" href="#/team/SWA/swansea">
                <img ng-src="images/logos/SWA.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/SWA.png">
                <h4 class="text">SWASENA CITY</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/TOT/tottenham" href="#/team/TOT/tottenham">
                <img ng-src="images/logos/TOT.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/TOT.png">
                <h4 class="text">TOTTENHAM HOTSPUR</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/MFC/middlesbrough" href="#/team/MFC/middlesbrough">
                <img ng-src="images/logos/MFC.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/MFC.png">
                <h4 class="text">MIDDLESBROUGH</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/WAT/watford" href="#/team/WAT/watford">
                <img ng-src="images/logos/WAT.png" class="img-responsive center-block" style="height:auto;width:120px" src="images/logos/WAT.png">
                <h4 class="text">WATFORD</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/WBA/westbrom" href="#/team/WBA/westbrom">
                <img ng-src="images/logos/WBA.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/WBA.png">
                <h4 class="text">WEST BROMWICH ALBION</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/WHU/westham" href="#/team/WHU/westham">
                <img ng-src="images/logos/WHU.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/WHU.png">
                <h4 class="text">WEST HAM UNITED</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/HUL/hull" href="#/team/HUL/hull">
                <img ng-src="images/logos/HUL.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/HUL.png">
                <h4 class="text">HULL CITY</h4>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a class="underline" ng-href="#/team/BUR/burnley" href="#/team/BUR/burnley">
                <img ng-src="images/logos/BUR.png" class="img-responsive center-block" style="height:auto;width:120px;" src="images/logos/BUR.png">
                <h4 class="text">BURNLEY</h4>
            </a>
        </div>
        


    </div>
				
			</div>
		</div>
		
