<div class="banner"> 
	    <div class="banner-text">
	    	<div class="container">
				<h1>SEARCHING ABOUT SOCCER..??</h1>
				<p>HERE WE GOT SAME NEWS HERE</p>
				
			 </div>
		</div>
	</div>
	
	</div>

					
					<!-- Partners Starts Here --->
		<!--Responsive-tabs-ends-Here-->
	<!--end-website-->
	<!--start-special-->
	<div class="special">
		<div class="special-top">
			<h3>ENGLISH PREMIER LEAGUE</h3>
		</div>
		<div class="special-bottom">
			<div class="col-md-6 special-bottom-left">
						<a href="#/epl-2015-2016" class="b-link-stripe b-animate-go  thickbox">
									<img class="port-pic" class="img-responsive" src="images/one-1.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left b-from   b-delay03 ">
											<img src="images/spl-img.png" alt="">
											<span>ENGLISH PREMIER LEAGUE 2015-2016</span>
										</h2>
									</div>
						</a>
			</div>
			<div class="col-md-6 special-bottom-left">
						<a href="#/epl-2016-2017" class="b-link-stripe b-animate-go  thickbox">
									<img class="port-pic" class="img-responsive" src="images/one-2.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left b-from   b-delay03 ">
											<img src="images/spl-img.png" alt="">
											<span>ENGLISH PREMIER LEAGUE 2015-2017</span>
										</h2>
									</div>
						</a>
			</div>
			<div class="clearfix"> </div>
			
			
		</div>
	</div>