<div class="blog">
		<div class="container">
			<div class="blog-main">
			
			    
				<h3>EPL 2015-2016</h3>
				
				<div class="blog-top">
					<div class="col-md-12">
						
						 <div id="no-more-tables">
						 <table class="col-md-12 table-bordered table-striped table-condensed cf">
						 <tr>
						 <td>Total Match Played</td>
						 <td>{{total_p1}}</td>
						 </tr>
						 <tr>
						 <td>Total Wins</td>
						 <td>{{total_w1}}</td>
						 </tr>
						 <tr>
						 <td>Total Lost</td>
						 <td>{{total_l1}}</td>
						 </tr>
						 <tr>
						 <td>Total Tie</td>
						 <td>{{total_t1}}</td>
						 </tr>
						  <tr>
						 <td>Total Goals</td>
						 <td>{{total_g1}}</td>
						 </tr>
						 </table>
			 <div id="chart"></div>
           
        </div>
					
						
						
						</div>
					
					</div>
					<div class="clearfix"></div>
				</div>
				
				
				<div class="blog-main"  style="
    margin-top: 200px;">
				<h3>EPL 2016-2017</h3>
				<div class="blog-top">
					<div class="col-md-12">
						
						 <div id="no-more-tables">
						 <table class="col-md-12 table-bordered table-striped table-condensed cf">
						 <tr>
						 <td>Total Match Played</td>
						 <td>{{total_p2}}</td>
						 </tr>
						 <tr>
						 <td>Total Wins</td>
						 <td>{{total_w2}}</td>
						 </tr>
						 <tr>
						 <td>Total Lost</td>
						 <td>{{total_l2}}</td>
						 </tr>
						 <tr>
						 <td>Total Tie</td>
						 <td>{{total_t2}}</td>
						 </tr>
						  <tr>
						 <td>Total Goals</td>
						 <td>{{total_g2}}</td>
						 </tr>
						 </table>
			 <div id="chart_two"></div>
           
        </div>
					
						
						
						</div>
					
					</div>
					<div class="clearfix"></div>
				</div>
				
				
				
				
				
			</div>
		</div>
		
